Checks: >
  -*,
  performance-unnecessary-value-param,
  performance-faster-string-find,
  performance-inefficient-algorithm,
  performance-inefficient-vector-operation,
  performance-move-const-arg,
  performance-no-automatic-move,
  performance-noexcept-move-constructor,
  performance-type-promotion-in-math-fn,
  performance-enum-size,
  performance-implicit-conversion-in-loop,
  performance-unnecessary-copy-initialization,
  performance-for-range-copy,
  bugprone-branch-clone,
  bugprone-use-after-move,
  clang-analyzer-core.uninitialized.*,
  clang-analyzer-core.NullDereference,
