# file: .clangd

CompileFlags:
  # Compiler: /Library/Developer/CommandLineTools/usr/bin/clang++
  Compiler: /opt/homebrew/opt/llvm/bin/clang++
  BuiltinHeaders: QueryDriver
  CompilationDatabase: Ancestors

  Add: [
      -std=c++2c,
      -Wall,
      -Wextra,
      -Wshadow,
      -Werror,
      -pedantic,
      -Iinclude,
      -I/opt/homebrew/include,
      -I/opt/homebrew/opt/llvm/include,
      -I/usr/local/include,
      -I/Users/manuelfarzini/Personal/dev/include,

      # # faust repo
      # -I/Users/manuelfarzini/Personal/dev/repo/faust/compiler,
      # -I/Users/manuelfarzini/Personal/dev/repo/faust/compiler/FaustAlgebra,
      # -I/Users/manuelfarzini/Personal/dev/repo/faust/compiler/boxes,
      # -I/Users/manuelfarzini/Personal/dev/repo/faust/compiler/errors,
      # -I/Users/manuelfarzini/Personal/dev/repo/faust/compiler/evaluate,
      # -I/Users/manuelfarzini/Personal/dev/repo/faust/compiler/generator,
      # -I/Users/manuelfarzini/Personal/dev/repo/faust/compiler/generator/fir,
      # -I/Users/manuelfarzini/Personal/dev/repo/faust/compiler/generator/interpreter,
      # -I/Users/manuelfarzini/Personal/dev/repo/faust/compiler/parallelize,
      # -I/Users/manuelfarzini/Personal/dev/repo/faust/compiler/parser,
      # -I/Users/manuelfarzini/Personal/dev/repo/faust/compiler/signals,
      # -I/Users/manuelfarzini/Personal/dev/repo/faust/compiler/tlib,
    ]

Diagnostics:
  Suppress:
    [unused-includes, overloaded-virtual, unused-local-typedef, missing-braces]

InlayHints:
  BlockEnd: false
  DeducedTypes: true
  DefaultArguments: false
  Designators: false
  Enabled: true
  ParameterNames: false
  TypeNameLimit: 15

Hover:
  ShowAKA: false

Documentation:
  CommentFormat: Markdown
